# .gitignore for C# / .NET projects
# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# DotCover
*.dotCover

# NCrunch
*.ncrunch*
.*crunch*.local.xml
_nCrunch_*

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# Recycle Bin used by the VSCode Extension "Recycle Bin"
.vscode-recycle-bin/

# Dotnet watch
**/node_modules/

# Others
*.dbmdl
*.bak
*.backup
*.log
*.dmp
*.mdf
*.ldf
*.ndf

# Local history for Visual Studio
.localhistory/

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# VS Code settings
.history/

# JetBrains Rider
.idea/
*.sln.iml

# Mac
.DS_Store

# Linux
*~
